In [31]:

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from imblearn.over_sampling import SMOTE

X_train = pd.read_csv("../data/raw/X_train.csv", sep=",",index_col=0)
y_train = pd.read_csv("../data/raw/Y_train.csv", sep=",",index_col=0)

texts = X_train["designation"]
labels = y_train

def text_smote(texts, labels, random_state=42):
    vectorizer = TfidfVectorizer(ngram_range=(1,2))
    X = vectorizer.fit_transform(texts)
    
    smote = SMOTE(random_state=random_state)
    X_res, y_res = smote.fit_resample(X, labels)
    
    return X_res, y_res, vectorizer

# Appliquer text_smote
X_resampled, y_resampled, vectorizer = text_smote(texts, labels)

In [32]:
# Afficher les distributions avant et après
print("Distribution originale :")
print(labels.value_counts(normalize=False))
print("\nDistribution après SMOTE-NC :")
print(y_resampled.value_counts(normalize=False))

Distribution originale :
prdtypecode
2583           10209
1560            5073
1300            5045
2060            4993
2522            4989
1280            4870
2403            4774
2280            4760
1920            4303
1160            3953
1320            3241
10              3116
2705            2761
1140            2671
2582            2589
40              2508
2585            2496
1302            2491
1281            2070
50              1681
2462            1421
2905             872
60               832
2220             824
1301             807
1940             803
1180             764
Name: count, dtype: int64

Distribution après SMOTE-NC :
prdtypecode
10             10209
40             10209
50             10209
60             10209
1140           10209
1160           10209
1180           10209
1280           10209
1281           10209
1300           10209
1301           10209
1302           10209
1320           10209
1560           10209
1920           10209
1940           10209
2060           10209
2220           10209
2280           10209
2403           10209
2462           10209
2522           10209
2582           10209
2583           10209
2585           10209
2705           10209
2905           10209
Name: count, dtype: int64

In [28]:
XX = pd.DataFrame.sparse.from_spmatrix(X_resampled)
XX.head()

,0,1,2,3,4,5,6,7,8,9,...,473244,473245,473246,473247,473248,473249,473250,473251,473252,473253
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0